<div class="container">
    <div class="col-sm-5 mb-5 mt-5">
        <form action="" class="formGroup">
            <input type="text" class="form-control" placeholder="Busque un cliente">
            <button class="btn btn-primary mt-4" routerLink="/agregarClientes/new">Agregar un cliente nuevo</button>
        </form>    
    </div>
        <div class="row" >
            <div class="col-sm-3 mt-3" *ngFor="let cliente of clientes">
                <div class="card" >
                    <div class="card-body">
                    <h5 class="card-title">{{cliente.nombre +" "+ cliente.apellido}}</h5>
                    <h6 class="card-subtitle">{{cliente.id}}</h6>
                    <p class="card-text">{{cliente.direccion}}</p>
                    <a href="#" class="card-link" routerLink="/agregarClientes/{{cliente.id}}">Editar </a>
                    <a href="#" class="card-link">Pedidos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>